<img src={{this.image_url}} height="200"/>
<h4 id="name">
  <a href="/beers/beer-{{this.id}}">
    {{this.name}}
  </a>
</h4>
<p id="tagline">{{this.tagline}}</p>
<h3 id="description">{{this.description}}</h3>